.no_contacts_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
  gap: 10px;
  background-color:rgba(128, 127, 127, 0.444);
  border-radius: 3px;
}

.item {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px;
  max-width: 220px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.stub {
  margin: 0 auto;
  font-size: 18px;
}