.container {
display: flex;
gap: 15px;
}

.link {
  font-size: 20px;
  padding: 15px 5px;
  transition: all ease 0.1s;

  &:hover{
    color: rgba(204, 240, 204, 0.685);
  }


}

.active {
  position: relative;
  box-shadow: inset 0 -2.5px 0 0 rgba(0, 0, 0, 0.636);
}