.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}

.link {
  color: rgb(103, 146, 240);

  &:hover {
    text-decoration: underline;
  }
}